/*reglas generales*/

/*Media Query*/

/** Reescribir colores */

/** Productos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3 {
  font-family: "Playfair", sans-serif;
}

header h1 span {
  color: var(--bs-blue) !important;
}


/* elemento padre hero image */
.hero-image {
  min-height: 25rem;
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat;
  background-color: red;
  background-size: cover;
  background-position: 100% 90%;

}

.hero-image div {
  min-height: inherit;
  display: flex;

  justify-content: center;

  align-items: center;

  background-color: #0000006b;

  color: white;

}

.main_title {

  text-shadow: 3px 0 4px black;
}

.bg-success {
  background-color: rgb(49, 245, 49) !important;
}

.bg-secondary {
  background-color: #3f3f3f !important;
}

.btn-zoom {
  transition: all .3s ease-in-out;
}

.btn-zoom:hover {

  transform: scale(1.1);

}

.btn-bounce {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {

  0% {
    transform: translateY(3px);
  }

  50% {

    transform: translateY(0px);
  }

  100% {
    transform: translateY(3px);
  }


}

.transformacion img {
  transition: transform .3s;
}

.transformacion img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#articulo {
  transition: transform .3s cubic-bezier(0.25, 0.1, 0.58, 1);

}

#articulo:hover {
  transform: translate(0px, -5px);
  cursor: pointer;
}